body {
    background-color: #f9fff9;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-success:hover {
    background-color: #218838;
    transform: scale(1.05);
}
